# Exclude everything
/*

# Specific includes

## Editorconfig
!.editorconfig

## Build System/Scripts
!/.config
!/global.json
!NuGet.Config
!Directory.Build.props
!Directory.Build.targets
!build.sh
!build.ps1
!build.cmd

## Markdowns
!*.md
!LICENSE
!/licenses

## important Git files
!.gitmodules
!.gitignore
!.gitattributes
!.git-blame-ignore-revs

## GitHub specific
!.github/

## Assets
!/assets

## Solution
!serilog-sinks-msbuild.sln

### Serilog.Sinks.MSBuild Project
!/Serilog.Sinks.MSBuild
/Serilog.Sinks.MSBuild/[Bb]in
/Serilog.Sinks.MSBuild/[Oo]bj

# Explicit exceptions/ignores
**.user
!**.template.*.user
